# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:notmeisit.github.io
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?notmeisit.github.io
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:notmeisit.github.io

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:notmeisit.github.io
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:notmeisit.github.io
